<section *ngIf="!donatePage">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 padd-0">
                <a class="" href="#">
                    <img class="img-fluid" alt="Responsive image" src="assets/img/banner/bannerinner.jpg">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 padd-0">
                <div style="background-color: #090f27;" class="progress" *ngIf="!showSpeedometer">
                    <span style="color: #ffffff;" class="mr-4">Completion: </span>
                    <div class="progress-bar progress-bar-striped bg-primary progressBarHeight" role="progressbar"
                        [style.width]="progress" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-center top-botm-10">
                <ng-container *ngFor="let form of masterForm; let i = index; trackBy: trackByFn">
                    <form action="" [formGroup]="masterForm[i]"
                        *ngIf="i === activeStepIndex || masterForm.length === 1">
                        <div class="card card-body">
                            <div class="fields-container">
                                <div *ngFor="let field of formFields[i]; trackBy: trackByFn"
                                    [ngSwitch]="currentFormContent[i][field].type">
                                    <div class="col-md-12 top-20 login-heading">
                                        <label class="card-title" style="margin: 5px;"
                                        [for]="field">{{ currentFormContent[i][field].placeholder  }}</label>
                                    </div>
                                    <div class="col-md-12 login-wht-box">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ng-container *ngSwitchCase="'textarea'">
                                                    <div class="form-group">
                                                        <textarea class="form-control" [id]="field" [formControlName]="field"
                                                            [placeholder]="currentFormContent[i][field].placeholder"
                                                            required></textarea>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div style="width: 100%; background-color: #090f27; color: #ffffff; padding-left: 5px;">
                                       
                                    </div> -->
                                    <div class="col-md-12 login-wht-box">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <ng-container *ngSwitchCase="'select'">
                                                    <div style="padding: 10px 27px;">
                                                        <select style="border: 1px solid b6b6b6;" [formControlName]="field" [id]="field"
                                                        (change)="getDistricts($event, field)" required>
                                                        <option value="">{{ currentFormContent[i][field].placeholder }}</option>
                                                        <option class="optionClass"
                                                            *ngFor="let option of currentFormContent[i][field].options; trackBy: trackByFn"
                                                            [value]="option">{{ option }}</option>
                                                    </select>
                                                    </div>
                                                    
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 login-wht-box">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ng-container *ngSwitchCase="'checkbox'">
                                                    <div class="form-group"
                                                        *ngFor="let option of currentFormContent[i][field].options; trackBy: trackByFn; let i = index">
                                                        <div class="form-control">
                                                            <input type="checkbox" [value]="option.code" [id]="i"
                                                                [formControlName]="field"
                                                                (change)="getSelectedCheckboxes($event, option.lexical)" required>
                                                            <span class="mr-4"></span>
                                                            <div class="d-inline">
                                                                {{ option.name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 login-wht-box">
                                        <div class="row">
                                            <div class="col-md-12 alternetclassA">
                                                <ng-container *ngSwitchCase="'radio'">
                                                    <div class="form-group"
                                                        *ngFor="let option of currentFormContent[i][field].options; trackBy: trackByFn">
                                                        <span>
                                                            <div class="form-control alternetclassA">
                                                            <div class="row">
                                                                <div class="col-sm-10 d-inline"
                                                                    (click)="onDivClick(i, field, option.code)">
                                                                    <input type="radio" [id]="option.code" [value]="option.code"
                                                                        [formControlName]="field" required>
                                                                    <span class="mr-4"></span>
                                                                    {{ option.name }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 login-wht-box">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="textAearcls">
                                                    <ng-container *ngSwitchDefault>
                                                        <input [type]="currentFormContent[i][field].type" [formControlName]="field"
                                                            [id]="field" [placeholder]="currentFormContent[i][field].placeholder" />
                                                    </ng-container> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <p class="validation-error" *ngIf="
                                (masterForm[i].get(field).dirty ||
                                    masterForm[i].get(field).touched) &&
                                masterForm[i].get(field).invalid &&
                                masterForm[i].get(field).errors
                                ">
                                        {{ getValidationMessage(i, field) }}
                                    </p>
                                </div>
                            </div>

                            <!-- <div
                            class="preview-container"
                            *ngIf="activeStepIndex === stepItems.length - 1 && !showSpeedometer">
                            <ul>
                            <li
                                class="form-details-list"
                                *ngFor="let field of masterFormFields; trackBy: trackByFn">
                                <span class="text-bold">{{ field | formatTitle }}</span>
                                <span>{{ formData[field] || 'N/A' }}</span>
                            </li>
                            </ul>
                        </div> -->
                    
                            <div *ngIf="showSpeedometer">
                                <div id="main-div">
                    
                                    <div class="layout-align">
                                        <div id="score-meter-1" class="layout-align">
                                        <div id="scorer-1-inner-div">
                                        <div id="scorer-1-inner-div-5">
                                            <div *ngIf="riskFactor == 'High'" class="scorer-1-tick"> </div>
                                            <div *ngIf="riskFactor == 'Moderate'" class="scorer-2-tick"> </div>
                                            <div *ngIf="riskFactor == 'Low'" class="scorer-3-tick"> </div>
                                            
                                        </div>
                                        </div>
                                        <div id="scorer-1-inner-div-2" class="extdiv1"></div>
                                        <div id="scorer-1-inner-div-3" class="extdiv2"></div>
                                        <div id="scorer-1-inner-div-4" class="extdiv3"></div>
                                    </div>
                                    </div>
                                    
                                    </div>
                                <div class="d-flex justify-content-center text-secondary">
                                    <h1>Risk: <span [style.color]="riskColor">{{ riskFactor }}</span></h1>

                                </div>
                                <div *ngIf="riskFactor == 'High'">
                                    <strong>You are at high risk. Do not let your guards down.</strong>
                                    <p>1. If you develop any of the following symptoms (Fever, dry cough, loss of smell
                                        or taste,
                                        tiredness, body ache, pain in chest). Please call the Toll Free number 1075 or
                                        <a target="_blank"
                                            href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf"><svg
                                                class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                    clip-rule="evenodd" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg></a> </p>

                                    <p>2. If you are above the age of 60, do not go out for your own safety. </p>

                                    <p>3. Maintain safe distance from people (even family members) who seem to be sick.
                                    </p>

                                    <p>4. If you are into essential services wear Personal Protective Equipment (PPE) at
                                        work.For
                                        more information, you can check:
                                        <a target="_blank"
                                            href="https://apps.who.int/iris/bitstream/handle/10665/331498/WHO-2019-nCoV-IPCPPE_use-2020.2-eng.pdf"><svg
                                                class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                    clip-rule="evenodd" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg></a>
                                    </p>
                                </div>
                                <div *ngIf="riskFactor == 'Moderate'">
                                    <strong>You are at a moderate risk. Remain watchful.</strong>
                                    <p>1. If you develop any of the following symptoms (Fever, dry cough, loss of smell
                                        or taste,
                                        tiredness, body ache, pain in chest). Please call the Toll Free number 1075 or
                                        <a target="_blank"
                                            href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf"><svg
                                                class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                    clip-rule="evenodd" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg></a> </p>
                                    <p>2. If you are into essential services wear Personal Protective Equipment (PPE) at
                                        work.For
                                        more information, you can check:
                                        <a target="_blank"
                                            href="https://apps.who.int/iris/bitstream/handle/10665/331498/WHO-2019-nCoV-IPCPPE_use-2020.2-eng.pdf"><svg
                                                class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                    clip-rule="evenodd" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg></a>
                                    </p>
                                    <p>3. Refrain from going outside (shops, markets) unless it is very necessary. </p>
                                </div>
                                <div *ngIf="riskFactor == 'Low'">
                                    <strong>You are at low risk but consider safety first.</strong>
                                    <p>1. If you develop any of the following symptoms (Fever, dry cough, loss of smell
                                        or taste,
                                        tiredness, body ache, pain in chest). Please call the Toll Free number 1075 or
                                        <a target="_blank"
                                            href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf"><svg
                                                class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                    clip-rule="evenodd" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg></a> </p>
                                    <p>2. Avoid going out unless it is very essential.
                                    </p>
                                </div>
                                <strong>General Advisory</strong>
                                <p>1. Wash your hands properly link <a target="_blank"
                                        href="https://www.mohfw.gov.in/pdf/Poster3GHFGA.pdf"><svg
                                            class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                clip-rule="evenodd" />
                                            <path
                                                d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                            <circle cx="8" cy="4.5" r="1" />
                                        </svg></a> </p>
                                <img class="img-fluid" alt="Responsive image" src="./../../../assets/img/image1.png" alt="" height="30%" width="100%">
                                <p>2. If you are feeling unwell, avoid going out and try to distance yourself from the
                                    people you
                                    live with, especially elderlies or kids. Maintain physical distancing <a
                                        target="_blank"
                                        href="https://www.mohfw.gov.in/pdf/socialdistancingEnglish.pdf"><svg
                                            class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                clip-rule="evenodd" />
                                            <path
                                                d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                            <circle cx="8" cy="4.5" r="1" />
                                        </svg></a> </p>

                                <p>3. Maintain good respiratory hygiene, like, cover your face when you cough, sneeze
                                    into your
                                    elbows or wear a mask in public. </p>

                                <p>4. Take care of your mental health. Call Toll Free 08046110007. More information at:
                                    <a target="_blank"
                                        href="https://www.mohfw.gov.in/pdf/MindingourmindsduringCoronaeditedat.pdf"><svg
                                            class="bi bi-info-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                clip-rule="evenodd" />
                                            <path
                                                d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                            <circle cx="8" cy="4.5" r="1" />
                                        </svg></a>
                                </p>
                            </div>

                            <div class="button-container"
                                *ngIf="!showSpeedometer && activeStepIndex < stepItems.length - 1">
                                <button type="button"
                                    [class]="activeStepIndex ? 'btn btn-primary' : 'btn btn-secondary'"
                                    [disabled]="!activeStepIndex" (click)="goToStep('prev')">Previous</button>
                                <button *ngIf="activeStepIndex === stepItems.length - 2" type="button"
                                    class="btn btn-info" [disabled]="masterForm[i].invalid"
                                    (click)="goToStep('next');onFormSubmit();">Submit</button>
                                <button *ngIf="activeStepIndex !== stepItems.length - 2" type="button"
                                    [class]="activeStepIndex === stepItems.length - 2 ? 'btn btn-secondary' : 'btn btn-primary'"
                                    [disabled]="activeStepIndex === stepItems.length - 2 || masterForm[i].invalid"
                                    (click)="goToStep('next')">Next</button>
                            </div>
                            <div *ngIf="showSpeedometer" class="d-flex justify-content-center text-secondary" (click)="goToDonate()">Help us buy a coffee</div>
                            <!-- <div>
                            <hr/>
                            
                            <div class="d-flex justify-content-center text-secondary">Total Visitors to the site: <em>{{ hitCount.visits }}</em></div>
                            <div class="d-flex justify-content-center text-secondary">Total Surveys taken: <em>{{ hitCount.surveys }}</em></div>
                        </div> -->
                        </div>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</section>
<section *ngIf="donatePage" class="bg-img">
    Help us buy a coffee
</section>