<app-multi-step-form
*ngIf="!firstPage"
class="multi-step-form"
[firstPage]="firstPage"
[formContent]="formContent"
(formSubmit)="onFormSubmit($event)"
></app-multi-step-form>
<nav *ngIf="firstPage">
    <img src="assets/img/mob.png" class="fullimg" alt="" >
    <div class="btnWraper ">
        <a class="pull-left" target="_blank" href="https://d1bo30h54isobh.cloudfront.net/assets/img/Covid_19_Risk_Assessment_Tool_about.pdf" >About the Tool</a>
        <a class="pull-right" href="javascript:void(0);" (click)="toSurvey()">Take me to survey</a>
    </div>
  
</nav>